{% extends "layout2.html" %}

{% block container %}
    <h1>¡Oops! 404</h1>
    <p>Parece que te has perdido en el internet. La página que buscas no existe o ha sido movida a un lugar secreto.</p>
    <img src="https://i.gifer.com/2ull.gif" alt="Gato confundido">
    <p>Pero no te preocupes, ¡no estás solo! Aquí tienes algunas opciones:</p>
    <ul>
        <li><a href="/">Volver a la página principal</a></li>
        <li><a href="/contact">Contactarnos</a></li>
        <li><a href="javascript:history.back()">Volver a la página anterior</a></li>
    </ul>
    <p>O simplemente disfruta de este gatito confundido mientras reflexionas sobre tu vida.</p>
{% endblock %}