{% macro input_field(name, label, type="text", placeholder="") %}
    <label for="{{ name }}">{{ label }}:</label>
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" required>
    <br>
{% endmacro %}

{% macro camposNuevos(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(**kwargs) }} 

        {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}
